body, h2 {
  text-align: center;
}

#wrapper {
  margin-top:30px;
  display: inline-block;
  box-shadow: 0pt 2px 5px rgba(0, 0, 0, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  border: 2px solid rgba(0, 0, 0, 1);
    /*
    display:none
    */;
}

.whitebox {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
}

.white {
  background-color: rgba(255,255,255,0.5);
 display: inline-block;
  box-shadow: 0pt 2px 5px rgba(0, 0, 0, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  border: 2px solid rgba(0, 0, 0, 1);
  top:400px;
}

h1 {
  color: #000;
  font-weight: 100;
  font-size: 60px;
  font-size: 7em;
  letter-spacing: 5px;
  padding: 0 30px;
}
a{
  text-decoration:none;
}
.white:hover{
  background-color: rgba(0,255,0,0.5);
}

h2 {
  background-color: rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  color: #000;
  padding: 0 20px;
  font-size: 3vw;
}