@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
    background: transparent;
    border:none;
    border-bottom: 2px dashed #1abc9c;
    font-size: 16px;
    margin: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    font-family: 'Architects Daughter', cursive;   
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus{
    background: #d2d9dd;
}
select{
    -webkit-appearance: menulist-button;
    height:35px;
}
input[type="submit"],
input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border-radius:10px;
    font-family: 'Architects Daughter', cursive;
    
}
#responds{
    color:red;
}
a{
    text-decoration: none;
}
#form {
  padding:3%;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189, 0.8);
  width: 500px;margin:auto;
  margin-top:100px;
  margin-bottom:100px;
   
}
body{
    font-family: 'Architects Daughter', cursive;
}
#nregister
{
    font-size:1.5em;
    margin-left:15%;
}
#nregister a,
{
    color: #1abc9c;
}
#nregister a:hover
{
    border-radius:5px;
    background:rgba(123,111,200,0.3);
}
