@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
input[type="text"],
input[type="number"],
textarea,
select {
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    font-family: 'Architects Daughter', cursive;
  
}
.button
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border-radius:10px;
    font-family: 'Architects Daughter', cursive;
    
}
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus{
	background: #d2d9dd;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
}
select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form_style button{
    
    color: #FFF;
    
    background: #1abc9c;
    font-size: 1em;
    text-align: center;
    width: 400px;
    height:40px;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border-radius:10px;
    margin:auto;
    font-family: 'Architects Daughter', cursive;

}
.form_style{
    margin-left:150px;
    margin-top:100px;
    width:400px;
    padding:2%;
    background-color: rgba(0,255,255,0.3);
    box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    font-size: 1.3em;
}
.form_style #Question #Ch1 #Ch2 #Ch3 #Ch4{
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.form_style #FormSubmit #Qsubmit{
	display: block;
	background: #6C93AD;
	border: 1px solid #4B6170;
	color: #FFFFFF;
	margin-top: 5px;
	padding: 6px 9px 6px 9px;
	border-radius: 5px;
}

#responds{

    width: 500px;
    height:500px;
    float:right;
    margin-right: 150px;
    margin-bottom: 100px;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    background-color: rgba(180,0,190,0.3);
    overflow: auto;
    overflow-y: scroll;
}
#responds li {
	list-style: none;
	padding: 3%;
    text-align:left;
	background: rgb(221, 240, 255);
	margin-bottom: 5px;
	border-radius: 5px;
	width: 90%;
	font-size: 13px;
}
#responds li.sel {
	background: rgb(255, 221, 221);
}
.del_wrapper{float:right;}
.content_wrapper {
	//max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}

body{
    font-family: 'Architects Daughter', cursive;
}
.container{
    margin:100px;
    margin-right:120px;

}
.card {
    background: white;
    display: inline-block;
    width: 100%;
    min-width:300px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 3px;
}
.card li {
    width:200px;
    display: inline-block;
    background: #00b4cc;
    padding: 5px;
    border-radius: 3px;
    color: white;
    margin: 3px;
    cursor: pointer;
}
.card li:hover {
    background: #008c9e;
}
.container .content {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
}
.container .card {
    font-size: 1.4em;
}
.container .card {
    font-size: 1.15em;
}
.correct {
    background:green;
}
.wrong {
    background:red;
}
#info {
  padding:3%;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189, 0.8);
  width: 500px;margin:auto;
  margin-top:100px;
  margin-bottom:100px;
   
}
#info h1{
    padding:0;
    margin:0;
}
#mask {
  position:absolute;
  z-index:998;
  background-color:#000;
  display:none;
  overflow:none;
}
  
#boxes .window {
  position:fixed;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
#boxes #dialog {
  width:50%; 
  height:203px;
  color:#fff;
  font-size: 1 em;
  overflow:none;
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 20px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}   
img{
    float:right;
}
th {
    background:#000;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
  font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
}

th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   

tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}   

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}   

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}