# Redirect everything in this directory to "good.html" 
RewriteEngine on 
RewriteRule submit/? submit.php
RewriteRule login login.php
RewriteRule quiz answer.php
RewriteRule register registration.php
RewriteRule home/? index.php
RewriteRule ^user/(\w+)/?$ profile.php?username=$1
RewriteRule ^quiz/(\w+)/?$ answer.php?category=$1
